.img {
  border: 4px solid #eee;
  width: 100%;
}
.backdrop {
  background-position: center center !important;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-container {
  color: #eee;
  width: 500px;
  height: 400px;
  text-align: center;
}
.overview {
  background-color: #252529;
  padding: 20px 3%;
  border-radius: 5px;
}
@media screen and (max-width: 699px) {
  .info-container {
    max-width: 100%;
  }
}

.movie-poster {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 250px;
}
p,span,h4,small{
  color:#fff;
  text-transform: capitalize;
}
.brand {
  background-color: #e8112e;
  padding: 20px;
  text-decoration: none;
  color: #eee !important;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.brand:hover{
  transform:scale(1.05);
  color: rgb(237, 237, 237);
  text-decoration: none;
}
.custom-style{
height: 80px;
}
.user-class{
  position: absolute;
  bottom: 2%;
  right: 8%;
}
@media screen and (max-width:900px){
  .user-class{
    position: absolute;
    bottom: 2%;
    right: 20%;
  }
  .custom-style{
    height: 150px !important;
  }
}
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(237, 237, 237)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;

}
.navbar-toggler{
  border: 1px solid white !important;
}